<div class="angular-demo">
  <div class="container">
    <h1>Hello World from Angular 19</h1>
    <p class="subtitle">Training on Angular in Coforge</p>

    <section>
      <h2>Data Binding</h2>
      <p>Reading values from Typescript file</p>
      <p class="highlight">The Title value is : <span>{{title}}</span></p>
      <h3>
        Integer value - <span>{{a}}</span> &nbsp;&nbsp;|&nbsp;&nbsp;
        Boolean value - <span>{{c}}</span>
      </h3>
    </section>

    <hr>
<app-login></app-login>
    <section>
      <h2>Mathematical Operations</h2>
      <h4>The Addition of {{a}} and {{b}} is : <span>{{a+b}}</span></h4>
      <h4>The Subtraction of {{a}} and {{b}} is : <span>{{a-b}}</span></h4>
      <h4>The Multiplication of {{a}} and {{b}} is : <span>{{a*b}}</span></h4>
      <h4>The Division of {{a}} and {{b}} is : <span>{{a/b}}</span></h4>
    </section>
  </div>
</div>
<app-login></app-login> <!---->