<nav class="navbar">
    <ul class="nav-list">
      <ng-container>
        <li class="nav-item">
          <a *ngIf="isUserLoggedIn" routerLink="/home">Home</a>
        </li>
        <li class="nav-item">
          <a *ngIf="isUserLoggedIn" routerLink="/products">Products</a>
        </li>

        <li class="nav-item">
          <a *ngIf="isUserLoggedIn" routerLink="/dealers">dealers list</a>
        </li>

        <li class="nav-item">
          <a *ngIf="isUserLoggedIn" routerLink="/search">search products</a>
        </li>

         <li class="nav-item">
          <a *ngIf="isUserLoggedIn" routerLink="/logout" (click)="handleLogout()">Logout</a>
        </li>

         <span class="user-style" *ngIf="isUserLoggedIn">
          Welcome : {{username}}
          <img
            class="avatar"
            src="\images\avatar.png" 
            alt="Avatar"
          />
        </span>

        <li class="nav-item">
          <a *ngIf="! isUserLoggedIn" routerLink="/register">Register</a>
        </li>

        <li class="nav-item">
          <a *ngIf="! isUserLoggedIn" routerLink="/login">Log in</a>
        </li>

        <li class="nav-item">
          <a *ngIf="! isUserLoggedIn" routerLink="/aboutus">about us</a>
        </li>
     </ng-container>
    </ul>
</nav>